body {
	min-height: 100vh;
	min-width: 100vw;
	  background-image: url('http://res.cloudinary.com/dcpfdxsly/image/upload/v1521253090/e2a36b1ddf9fc9c27305367cba3960e6_uqsfoi.jpg');
	  background-attachment: fixed;
	  background-size: cover;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	// .nav {
	// 	position: absolute;
  //   top: 2%;
	// }
  
  .link {
		color: #fff;
		text-underline-position: none;
	position: absolute;
	  top: 1%;
	  left: 2%;
		z-index: 100;
		cursor: pointer;
  }
  .weather {
	position: absolute;
		top: 1%;
		right: 2%;
	  z-index: 100;
  }
  
  .section {
	position: absolute;
	z-index: 4;
	  display: block;
	  top: 28%;
	  left:28%;
	  width: 50%;
	  text-align: center;
	
  }
  
  .clock {
	 font-size: 1050%;
	opacity: 1;
	margin: 0;
  }
  .greet {
	margin-top: -2%;
	opacity: 1;
	  font-size: 337.5%;
	  letter-spacing: 0;
	  white-space: nowrap;
	  font-weight: 500;
	  transition: transform .5s ease;
  }
  
  .center-below {
		margin-top: 10%;
	  left: 0;
	  top: 72.5%;
	  z-index: 3;
	  margin-bottom: 14px;
		font-weight: 300;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  }
  .focuses {
		padding: 0;
	  margin: 0;
	  font-size: 209.5%;
	  line-height: 150%;
  }
  
  .focus {
	  width: 13.8em;
  border-bottom-width: 2px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 3px solid #fff;
  color: #fff;
  outline: none;
  text-align: center;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
  }
  
  .bottom {
	  width: 100%;
	  bottom: 0;
	  left: 0;
	  position: absolute;
	  z-index: 3;
	opacity: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }
  .quote {
	  display: block;
	  position: relative;
	  font-size: 112.5%;
	  font-weight: 300;
	}
	
	.weather-style {
		margin: 0;
		padding: 0;
		font-size: 150%;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
	}

	.weather-location {
		outline: 0;
    min-width: 60px;
		min-height: 13px;
    margin: 0 -1px;
    padding: 3px 1px 2px;
    display: inline-block;
    font-size: 84.5%;
    font-weight: 500;
    opacity: .7;
	}
	.btn-primary {
		background-color: transparent;
    border-color: transparent;
	}
	.btn-primary:hover {
		background-color: transparent;
    border-color: transparent;
	}

	.card-body {
		background: rgba(15,15,15,.925);

	}